{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <h1>Resources page</h1>
</section>
{% include "app/libs/filter.html" with department=department departments=departments levels=levels btn="Filter" sort=True hbtn=True %}
<div class="form-div">
            <button class="submit-btn" get-m>Get Materials</button>
        </div>
<section>
    {% if course %}
        <h3>{{course.code}}</h3>
        <h4>{{course.title}}</h4>
    {% else %}
    <h3>All Documents </h3>
    {% endif %}
    <div list>
     <p>Loading ...</p>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{% static "js/load_materials.js" %}"></script>
{% endblock script %}
