{% extends "base.html" %}
{% load static %}
{% block script %}
<script src="{% static "js/load_courses.js" %}" defer>
    
</script>
{% endblock script %}
{% block content %}
<section class="pqs-sec">
        <h1>Past Questions</h1>
        
            {% for c in courses %}
            {% if c.pass_questions.count > 0 %}
            <details>
                <summary {% cycle "odd" "even" %}>{{c}}</summary>
            
                <ul>
                {% for pq in c.pass_questions.all %}
                <li>{{pq.year.year}} [<a href="{{pq.pq.url}}">Download</a>]</li>
                {% endfor %}
                </ul>
           </details>
           {% endif %}
           {% endfor %}
        
</section>


{% endblock content %}
