{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="form-div">
        <h1>Search Materials <img src="{% static "imgs/search.png" %}" alt=""></h1>
    
        <label>
            <input type="search" value="{{q}}" name="q" placeholder="pols 101 or Introduction to political science" autocomplete="false" input>
            <small>
                Enter enough information as possible, in other to help us find your desired material'(s)
            </small>
        </label>
        <button class="submit-btn" get-m>Search</button>
       
    </div>
<section>
 
    <h3>All Documents </h3>
    
    <div list>
     
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock script %}