{% extends 'base.html' %}
{% load static %}
{% block content %}
<section >
    <h3>{{fill.name}} Fill in the blank</h3>
    <div class="hr"></div>
    <form class="form-div">
    {% for q in fill.questions.all %}
    <div trs>
        <p>{{forloop.counter}}. {{q.parse_html|safe}}</p>
        <p style="display:none;padding-left:15px;border-left:1px solid" ans>Answer : <span correct_answer>{{q.correct_answers}}</span></p>
    </div>
    {% endfor %}
    <button class="submit-btn" btn type="button">Check</button>
    </form>
</section>
{% endblock content %}
{% block script %}
<script src="{% static 'js/cbt_fill.js' %}"></script>
{% endblock script %}
