{% extends 'base.html' %}

{% block content %}
<section >
    <h3>{{fill.name}} Fill in the blank</h3>
    <div class="hr"></div>
    <form class="form-div">
    {% for q in fill.questions.all %}
    <div trs>
        <p>{{forloop.counter}}. {{q.parse_html|safe}}</p>
        <p style="display:none;padding-left:5px;border-left:1px solid" ans>Correct Answer : {{q.correct_answers}}</p>
    </div>
    {% endfor %}
    <button class="submit-btn" btn type="button">Check</button>
    </form>
</section>
{% endblock content %}
{% block script %}
<script>
    const questions = document.querySelectorAll("[trs]")
    const btn = document.querySelector("[btn]")
    btn.addEventListener("click", ()=>{
    questions.forEach(q=>{
        let ans = q.querySelector("[ans]")
        ans.style.display = "block"
    })
    })
</script>
{% endblock script %}
