{% extends "base.html" %}

{% block content %}
  
    <section>
        
        <!-- App Title -->
        <h1>Welcome to Babuga's Library</h1>

        <!-- Welcome Message Section -->
        <section>
            <h2>Welcome Message:</h2>
            <p>
                Welcome to Babuga's Library, your premier destination for computer-based testing.
                Prepare for your exams with confidence and success.
            </p>
        </section>

        <!-- Brief Introduction Section -->
        <section>
            <h2>Brief Introduction:</h2>
            <p>
                Babuga's Library provides a wide range of tests and quizzes to help you excel in your studies and assessments.
                Whether you're preparing for an important exam or simply testing your knowledge, we've got you covered.
            </p>
        </section>

        <!-- Instructions Section -->
        <section>
            <h2>Instructions:</h2>
            <p>
                Before you begin, please read the following instructions carefully:
            </p>
            <ol>
                <li>Ensure you have a stable internet connection.</li>
                <li>You will have a specific time limit for each test. Be mindful of the timer.</li>
                <li>Select your answers by clicking on the options provided.</li>
                <li>Review your answers before submitting if time allows.</li>
            </ol>
            <a href="{% url 'cbt_tests' %}" class="get_started">Get Started</a>
        </section>



    </section>
  
{% endblock content %}  
