{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div questions style="display:flex;gap:2px;flex-wrap:wrap"></div>
</section>
<section>
    <h2>{{course}} Test</h2>
    <p>This is a test for the course {{ course }}. Please answer the following questions.</p>
    <div class="form-div">
        <form>
        {% csrf_token %}
        <p>Scores : <span score></span></p>
        {% for q in questions %}
        <div style="flex-direction:column;display:none" question id="q{{forloop.counter}}">
            <div>
                
               <button type="button" class="submit-btn" prev {% if forloop.counter == 1 %}disabled{% endif %}>Previous</button>
                
               
                <button type="button" class="submit-btn" next  {% if questions|last == q %} disabled{% endif %}>Next</button>
                
            </div>
            <p>{{forloop.counter}}. {{q.question_text}}</p>
            <div>
                <ul>
                    <li>True <input type="radio" name="{{q.id}}" value="True">
                    </li>
                    <li>False <input type="radio" name="{{q.id}}" value="False"></li>
                </ul>
            </div>
            <input type="text" value="{{q.correct_answer}}" style="display:none" correct_answer>
            <p class="correct-answer" style="display:none" display_correct_answer>Correct Answer : {{q.correct_answer}}</p>
            
        </div>
        {% endfor %}
    </form>
    </div>
    
</section>

{% endblock content %}
{% block script %}
<script src="{% static "js/cbt.js" %}"></script>
{% endblock script %}
