  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About Babuga's Library</h6>
            <p class="text-justify">Babuga's Library is a platform dedicated to ensuring Ahmadu Bello University students have swift access to a wide range of educational materials. Their mission is to provide timely access to reading materials, while their vision is to create a one-stop platform for all course resources. With approximately 5,000 materials available in various formats like PDFs, videos, images, and audios, Babuga's Library is committed to empowering students on their academic journey.
            </p>
          </div>

          

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'material_list' %}">Materials</a></li>
          <li><a href="{% url 'upload' %}">Upload</a></li>
          <li><a href="{% url 'course' %}">Courses</a></li>
          <li><a href="{% url 'pqs' %}">Past Questions</a></li>
          <li><a href="{% url 'search' %}">Search</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
