<header>
    <nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Babuga's Library</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li>
        <a href="#" class="desktop-item">Service</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">service</label>
        <ul class="drop-menu">
          <li><a href="{% url 'material_list' %}">Materials</a></li>
          <li><a href="{% url 'upload' %}">Upload</a></li>
          <li><a href="{% url 'course' %}">Courses</a></li>
          <li><a href="{% url 'search' %}">Search</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="desktop-item">User Actions</a>
        <input type="checkbox" id="showDropUser">
        <label for="showDropUser" class="mobile-item">User Actions</label>
        <ul class="drop-menu">
          <li><a href="{% url 'material_list' %}">Make a request</a></li>
          <li><a href="{% url 'upload' %}">Account Settings</a></li>
          <li><a href="{% url 'course' %}">Logout</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="desktop-item">Teslab</a>
        <input type="checkbox" id="showDropLab">
        <label for="showDropLab" class="mobile-item">Teslab</label>
        <ul class="drop-menu">
 
          <li><a href="{% url 'cbt' %}">CBT practice</a></li>
        </ul>
      </li>
      <li><a href="#">Feedback</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

</header>